* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.welcome-message {
  text-align: center;
  color: #f7418f;
  font-size: 64px;
  margin-top: 100px;
}

.box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 75%;
  width: 600px;
  justify-content: center;
  align-items: center;
  background-color: #fff3c7;
  padding: 75px 75px 0px 75px;
}

h3,
.difficulty-button,
h2 {
  font-family: "Noto Sans Old Permic", sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
}

h2 {
  font-weight: bold;
}

.difficulty-button {
  color: #fff3c7;
  background-color: #f7418f;
  border: 3px solid black;
  width: 300px;
  height: 75px;
  cursor: pointer;
  transition: all 0.3s;
}

.difficulty-button:hover {
  background-color: #fff3c7;
  color: #f7418f;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;
}

.bottom-box img {
  cursor: pointer;
}

.bottom-box button {
  background-color: transparent;
  border: none;
}

#footer {
  margin-top: auto;
  width: 100%;
  height: 100px;
  background-color: #fc819e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-box {
  background-color: #fff3c7;
  width: 600px;
  height: 600px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.word {
  display: inline;
  flex-direction: row !important;
}

.letters-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px;
  gap: 50px;
  background-color: #f7418f;
}

.first-row {
  display: flex;
  gap: 40px;
}

.second-row {
  display: flex;
  gap: 40px;
}

.third-row {
  display: flex;
  gap: 40px;
}

.first-row button,
.second-row button,
.third-row button {
  text-align: center;
  border: 2px solid black;
  width: 40px;
  cursor: pointer;
  font-size: 24px;
  background-color: #f7418f;
}

.clicked {
  background-color: rgb(218, 218, 218, 1);
}
